<% if user_signed_in? %>
  <%= link_to 'Sign out', signout_path %>
<% else %>
<section class="section contact" id="contact">
  <div class="contact__header">
  <p>
    Please login with your Amazon account.
  </p>
  <br>
  <%= link_to(image_tag("amazon-32.png"),  signin_path, :class => "amazon_button") %>
  </div>
</section>
<% end %>
<% if user_signed_in? %>
  <%= link_to 'Users', users_path %>
<% end %>
