                <div align="center">
                  <iframe name="myframe" id="frame1" src="mydetail.asp" width="500" height="400"></iframe>
                                <form action="https://node.developer.yodlee.com/authenticate/restserver/" method="post" id="rsessionPost" target="myframe">
                                                <input type="text" style="visibility:hidden" name="rsession" placeholder="rsession" value="08062013_0:d0194c3a71798ebb3f66648bc660acc729244047d5f4b68306b9e6e3a8c4e3e9b5b4b9a71a0c9bfa86613fe8be8fd7844a34a748580e58f17aedc9d16653b7b9"/>
                                                <input type="text" style="visibility:hidden"  name="app" placeholder="FinappId" value="10003600"/>
                                                <input type="text" style="visibility:hidden"  name="redirectReq" placeholder="true/false" value="true"/>
                                                <input type="text" style="visibility:hidden"  name="token" placeholder="token" value="d624e529dbfe9a79e1d6f2bf7347161be5c7a8595dc74d7d3ceb278766c27b18"/>
                                                <input type="text" style="visibility:hidden"  name="extraParams" placeholder="Extra Params" value=""/>
                                </form>
                </div>
                <script>
                                document.getElementById('rsessionPost').submit();
                </script>
</div>
<section class="section contact" id="contact">
<%= link_to 'Check my quote', quote_index_path, :class => 'button' %>

</section>
