                <div align="center">
                  <iframe name="myframe" id="frame1" src="mydetail.asp" width="375" height="400"></iframe>
                                <form action="https://node.developer.yodlee.com/authenticate/restserver/" method="post" id="rsessionPost" target="myframe">
                                                <input type="text" style="visibility:hidden" name="rsession" placeholder="rsession" value="08062013_1:1e5601c64e98b403fae15442757a4457875ae4ee8ed17d6ee776019072458a8228d1e5c9bc37953fff6f97d85cc7a7a33b1ebcfb2ff693c676cbfc36a6ecf508"/>
                                                <input type="text" style="visibility:hidden"  name="app" placeholder="FinappId" value="10003600"/>
                                                <input type="text" style="visibility:hidden"  name="redirectReq" placeholder="true/false" value="true"/>
                                                <input type="text" style="visibility:hidden"  name="token" placeholder="token" value="063ffe31406e4fd2a68982db43adf650f9c3fe267cac52ffc4afd0f61e8ec288"/>
                                                <input type="text" style="visibility:hidden"  name="extraParams" placeholder="Extra Params" value=""/>
                                </form>
                </div>
                <script>
                                document.getElementById('rsessionPost').submit();
                </script>
</div>
<section class="section contact" id="contact">
<%= link_to 'Use my bank details', new_quote_path, :class => 'button' %>

</section>
